<template name="imageAddForm">
<div class="modal fade" id="imageAddForm">
  <div class="modal-dialog">
    <form class="js-add-image" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">

          </div>
        </div>
        <div class="modal-body text-center">
          <input type="file" name="img_src" style="margin-left:auto;margin-right:auto" /><br/>
          <input type="url" name="img_src_url" placeholder="Or enter the URL of the image" /><br/>
          <input type="text" name="img_label" placeholder="Enter the title of the image"/><br/>
          <input type="text" name="img_desc" placeholder="Description of the image"/>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
</template>